@model PersonneViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">personnes</h1>
   @* @foreach (Personne p in ViewData["personnes"] as List<Personne>)
    {
        <div>
            Age : @p.Age
            Nom : @p.Name
        </div>
    }*@
    @* @foreach (Personne p in ViewBag.Personnes)
    {
        <div>
            Age : @p.Age
            Nom : @p.Name
        </div>
    }*@

    @foreach(Personne p in Model.Personnes)
    {
        <div>
            Age : @p.Age
            Nom : @p.Name
            <a asp-action="GetPersonne" asp-controller="Home" asp-route-id="@p.Id" asp-route-nom="@p.Name">Detail</a>
        </div>
    }
</div>
