<%- include('../partials/header') %>
    <div class="row m-1">
        <div class="col">
            <div class="row m-1">
                <h1 class="col"><%= product.name %> </h1>
                <span class="col"><%= product.price %>€</span>
            </div>
            <div class="row m-1">
                <div class="col"><%= product.description %></div>
            </div>
            <div class="row m-1">
                <div class="col"><%= product.name %></div>
            </div>
            <div class="row m-1">
                <a class="btn btn-warning col" href="/">Retour accueil</a>
            </div>
        </div>
    </div>
<%- include('../partials/footer') %>
