<%- include("../partials/header.ejs"); %>
    </header>
    <main class="container">
        <h1>L'utilisateur N° <%= id %></h1>
        
        <div>
            Nom: <%= user.firstName %>
        </div>
        <div>
            Prénom: <%= user.lastName %>
        </div>
    </main>
<%- include("../partials/footer.ejs"); %>