<%- include("../partials/header.ejs"); %>
    </header>
    <main class="container">
        <h1>Liste des utilisateurs</h1>
        <% for(let i=0; i < utilisateurs.length; i++) { %>
            <div>
                Prénom: <%= utilisateurs[i].firstName %> Nom: <%= utilisateurs[i].lastName %>
                <a href="/users/<%= i %>">Lien pour l'utilsateur</a>
            </div>
        <% } %>
       
    </main>
<%- include("../partials/footer.ejs"); %>